[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fqacalc"]
	path = fqacalc
	url = https://github.com/ecomodteam/fqacalc
[submodule "fqadata"]
	path = fqadata
	url = https://github.com/ecomodteam/fqadata
